<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CR.Demo.BL.Properties.Settings.dbdemocrConnectionString"
            connectionString="Data Source=DESKTOP-FPN37F7\SQLEXPRESS;Initial Catalog=dbdemocr;Persist Security Info=True;User ID=sa;Password=password"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>